<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testgame"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.testgame.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.testgame.Animation"
            android:label="@string/title_activity_animation" >
        </activity>
        <activity
            android:name="com.example.testgame.Menu"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name="com.example.testgame.StartMenu"
            android:label="@string/title_activity_start_menu" >
        </activity>
        <activity
            android:name="com.example.testgame.ViewGameOver"
            android:label="@string/title_activity_view_changer" >
        </activity>
        <activity
            android:name="com.example.testgame.ViewStartMenu"
            android:label="@string/title_activity_view_start_menu" >
        </activity>
        <activity
            android:name="com.example.testgame.ViewAnimation"
            android:label="@string/title_activity_view_animation" >
        </activity>
    </application>

</manifest>
